<tr>
  <td><%= localize_date_string(work['modified_date'] ) %></td>
  <td><%= localize_date_string(work['create_date'] ) %></td>
  <td><%= work['id'] %></td>
  <td><%= work['author_email'] %></td>
  <td><%= truncate( work['title'], length: 75 ) %></td>
  <td><%= link_to 'Edit', "/works/#{work['id']}", class: "btn btn-primary" %></td>
</tr>
