<tr>
  <td><%= raw( work_label( work['source'] ) ) %></td>
  <td><%= work['create_date'] %></td>
  <td><%= work['modified_date'] %></td>
  <td><%= format_id( work ) %></td>
  <td><%= work['author_email'] %></td>
  <td><%= truncate( CGI.unescapeHTML( work['title'] ).html_safe, length: 75 ) %></td>
  <td><%= link_to 'Edit', "/works/#{work['id']}", class: "btn btn-primary", target: '_blank' %></td>
</tr>
