<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>

<%= link_to("Latest Works", "/works/latest") %><br>
<%= link_to("Draft Works", "/works/draft") %><br>
<%= link_to("Published Works", "/works/submitted") %><br>
<%= link_to("All Works", "/works/all") %><br>

<table class="works-index data-table six-col">

  <%= render "header" %>

  <tbody>

    <% @works.each do |work| %>
      <%= render "work", work: work %>
    <% end %>

  </tbody>
</table>

<br>