<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>

<%= render "common/nav_links" %>

<table class="works-index data-table display compact ">

  <%= render "header" %>

  <tbody>

    <% @works.each do |work| %>
      <%= render "work", work: work %>
    <% end %>

  </tbody>
</table>

<br>