<div class="breadcrumbs">
   <ul>
      <li><a href="/">Dashboard</a></li>
   </ul>
</div>

<h1 class="work-title">Work: <%= @work['id'] %> (title "<%= @work['title'] %>")</h1>
<% if is_published( @work ) %>
   <%#= link_to 'Un-Publish', @work, method: :get, data: { confirm: 'Are you sure you want to un-publish this work?' }, class: "btn btn-warning work-unpublish" %>
<% else %>
   <%#= link_to 'Publish', @work, method: :get, data: { confirm: 'Are you sure you want to publish this work?' }, class: "btn btn-warning work-publish" %>
   <%= link_to 'Delete', @work, method: :delete, data: { confirm: 'Are you sure you really want to permanently remove this work?' }, class: "btn btn-danger work-delete" %>
<% end %>

<p id="notice"><%= notice %></p>

<table class="work">
   <tr>
      <th>Field</th>
      <th>Value</th>
      <th></th>
   </tr>
   <% Work::DISPLAYABLE.each { |field| %>
      <tr>
         <td><strong><%= field.humanize.titlecase %></strong></td>
         <td class="value" id="<%= "work_#{field.underscore}" %>"><%= format_value( field, @work[field]) %></td>
         <td>
            <%= edit_button( field, @work ) %>
         </td>
      </tr>
   <% } %>
  <tr>
    <td><strong>Audit</strong></td>
    <td class="value" id="work_audit">
      <% @audits.each do |audit| %>
        <%= raw( "#{localize_date_string(audit['created_at'] )}: #{audit['user_id']} => #{truncate(audit['what'], length: 96 )}" ) %><br>
      <% end %>
    </td>
    <td></td>
  </tr>
</table>

<div id="dialog-file-input" title="Upload File" class="edit-dialog" style="display: none;">
<%= form_tag() do %>
   <div class="message"></div>
   <div class="label-div"><label for="file-name"></label>Select File:</div>
   <input id="file-to-upload" type="file" name="files[]" data-url="<%= @file_upload_url %>" multiple class="input-field" />
   <div class="file-name"></div>
   <div class="label-div"><label for="file-label"></label>Display Label:</div>
   <input id="file-label" type="text" name="label" class="input-field" />
   <div class="field_help"></div>
   <!-- Allow form submission with keyboard without duplicating the dialog button -->
   <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
<% end %>
</div>

<div id="dialog-text-input" title="Edit Field" class="edit-dialog" style="display: none;">
<%= form_tag() do %>
   <div class="message"></div>
   <div><label for="user-text-input"></label>:</div>
   <input id="user-text-input" type="text" class="input-field" />
   <div class="field_help"></div>
   <!-- Allow form submission with keyboard without duplicating the dialog button -->
   <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
<% end %>
</div>

<div id="dialog-textarea-input" title="Edit Field" class="edit-dialog" style="display: none;">
<%= form_tag() do %>
   <div class="message"></div>
   <div><label for="user-textarea-input"></label>:</div>
   <textarea id="user-textarea-input" class="input-field"></textarea>
   <div class="field_help"></div>
   <!-- Allow form submission with keyboard without duplicating the dialog button -->
   <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
<% end %>
</div>

<div id="dialog-combo-input" title="Edit Field" class="edit-dialog" style="display: none;">
<%= form_tag() do %>
   <div class="message"></div>
   <div><label for="user-combo-input"></label>:</div>
   <select id="user-combo-input" class="input-field">
   </select>
   <div class="field_help"></div>
   <!-- Allow form submission with keyboard without duplicating the dialog button -->
   <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
<% end %>
</div>

<div id="dialog-date-input" title="Edit Field" class="edit-dialog" style="display: none;">
  <%= form_tag() do %>
      <div class="message"></div>
      <div><label for="user-date-input"></label>:</div>
      <input id="user-date-input" type="text" class="input-field" />
      <div class="field_help"></div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
  <% end %>
</div>

<div id="dialog-advisors-input" title="Edit Advisors" class="edit-dialog" style="display: none;">
<%= form_tag() do %>
   <div class="message"></div>
   <div><label for="user-advisors-input"></label>:</div>
   <div id="user-advisors-input">
      </div>
      <%= render 'adviser_template' %>
      <button class="btn btn-success add-adviser">+</button>

      <div class="field_help"></div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
   <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
<% end %>
</div>

<%= javascript_tag { %>
   window.selectOptions = {
      author_department: <%= raw(Work::department_options.to_json) %>,
      degree: <%= raw(Work::degree_options.to_json) %>,
      embargo_state: <%= raw(Work::embargo_options.to_json) %>,
      language: <%= raw(Work::language_options.to_json) %>,
      rights: <%= raw(Work::rights_options.to_json) %>
   };
<% } %>
