<tr>
  <td class="created_at"><%= audit['created_at'] %></td>
  <td class="user_id"><%= audit['user_id'] %></td>
  <td class="work_id"><%= audit['work_id'] %></td>
  <td class="what"><%= truncate( viewable_audit_line( audit['what'] ), length: 142 ) %>
    <span class="tooltiptext"><%= viewable_audit_line( audit['what'] ) %></span></td>
</tr>
